#id1{
	width: 750px;
	height: 430px;
	background-color: lightpink;
	border-radius: 10px;
	text-align: left; 
}

#id2{
	position: relative;
	top: 30px;
	left:100px;
}

#id3{
	position: relative;
	top: -230px;
	left:400px;
}

#p1 {
	width: 300px;
	height:300px;
	background-color:#CFA2FA;
	border-radius:20px;
	position:relative;
    top:30px;
    left:-210px;
    font-family: forte;
    font-size: 45px;
}

#p2 {
	width: 300px;
	height:300px;
	background-color:#CFA2FA;
	border-radius:20px;
	position:relative;
    top:-270px;
    left:200px;
    font-family: forte;
    font-size: 45px;
}

#p3 {
	width: 300px;
	height:300px;
	background-color:#CFA2FA;
	border-radius:20px;
	position:relative;
    top:-250px;
    left:-210px;
    font-family: forte;
    font-size: 45px;
}

#p4 {
	width: 300px;
	height:300px;
	background-color:#CFA2FA;
	border-radius:20px;
	position:relative;
    top:-550px;
    left:200px;
    font-family: forte;
    font-size: 45px;
}